.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    width: 1517px;
    height: 5595px;
    border: 1px solid black;
}
*{
    margin: 0px;
    padding: 0px;
}

/* nav styles */
.nav-content{
    display: flex;
    gap: 700px;
}
.nav-heading{
    margin-left: 150px;
    margin-top: 50px;

}
.nav-button{
    height: 50px;
    width: 210px;
    margin-top: 38px;
    margin-right: 150px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(13, 19, 33);
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}

/* banner styles */
.banner-content{
    height: 510px;
    width: 1517;
    margin-top: 25px;
    background-image: url(../assets/Hero-bg.png);
}
.images{
    height: 200px;
    width: 200px;
    margin-top: 15px;
}
.banner-image{
    text-align: center;

}
.banner-text-h3{
    font-weight: bolder;
    font-size: 35px;
    height: 80px;
    width: 700px;
    text-align: center;
    margin-top: 5px;
    color: #0D1321;
}
.banner-text{
    position: relative;
    left: 455px;
}
.heading-paragraph{
    color: #0D1321;
    font-weight: 400;
    font-size: medium;
}
.para-head{
    text-align: center;
    width: 820px;
    height: 55px;
    position: relative;
    left: 390px;
    margin-top: 10px
}
.banner-btn{
    height: 40px;
    width: 110px;
    padding: 5px;
    border-radius: 5px;
    background-color: #0D1321;
    color: white;
}
.banner-button{
    position: relative;
    left: 720px;
    top: 45px;
    width: 150px;
}

/* main styles */
/* web development */

.development-container{
    /* border: 1px solid black; */
    height: 1030px;
    width: 1300px;
    margin-left: 100px;
    margin-right: 600px;
    margin-top: 50px;
}
.development-container>h3{
    text-align: center;
    margin-top: 40px;
    font-weight: bolder;
    font-size: 25px;
}

.dev-para{
    /* border: 1px solid black; */
    height: 50px;
    text-align: center;
    margin-top: 20px;
    font-weight: 150;
    font-size: 15px;
    width: 700px;
    position: relative;
    left: 340px;
    color: rgb(13, 19, 33);
}
.child-container-1{
    display: flex;
    /* border: 1px solid black; */
    margin-top: 60px;
    gap: 350px;
}
.child-div-1{
    /* border: 1px solid black; */
    width: 250px;
    text-align: left;
    padding: 10px;
    margin-left: 200px
}
.child-1-para{
    margin-top: 20px;
    font-weight: 150;
    font-size: 15px;
    color: rgb(13, 19, 33);
}
.btn{
    font-weight: 700;
    color: rgba(13, 19, 33, 1);
    border: 0.5px solid black;
    height: 30px;
    width: 100px;
    background-color: white;
    margin-top: 20px;
}
.child-container-2{
    display: flex;
    /* border: 1px solid black; */
    margin-top: 20px;
    gap: 0px;
    height: 300px;
    
}
.child-div-2{
    /* border: 1px solid black; */
    width: 400px;
    text-align: left;
    padding: 10px;
    margin-left: 200px;
    margin-top:40px ;
    margin-right: 300px;
    position: relative;
    right: 100px;
}
.child-2-para{
    margin-top: 20px;
   font-weight: 150;
    font-size: 15px;
}
.child-container-3{
    display: flex;
    /* border: 1px solid black; */
    margin-top: 20px;
    gap: 350px;
}
.child-div-3{
    /* border: 1px solid black; */
    width: 250px;
    text-align: left;
    padding: 10px;
    margin-left: 200px
}
.child-3-para{
    margin-top: 20px;
    font-weight: 150;
    font-size: 15px;
}