.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  width: 1517px;
  height: 5595px;
  border: 1px solid black;
}
* {
  margin: 0px;
  padding: 0px;
}

/* nav styles */
.nav-content {
  display: flex;
  gap: 700px;
}
.nav-heading {
  margin-left: 150px;
  margin-top: 50px;
}
.nav-button {
  height: 50px;
  width: 210px;
  margin-top: 38px;
  margin-right: 150px;
  font-weight: 600;
  font-size: 20px;
  color: rgb(13, 19, 33);
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}

/* banner styles */
.banner-content {
  height: 510px;
  width: 1517;
  margin-top: 25px;
  background-image: url(../assets/Hero-bg.png);
}
.images {
  height: 200px;
  width: 200px;
  margin-top: 15px;
}
.banner-image {
  text-align: center;
}
.banner-text-h3 {
  font-weight: bolder;
  font-size: 35px;
  height: 80px;
  width: 700px;
  text-align: center;
  margin-top: 5px;
  color: #0d1321;
}
.banner-text {
  position: relative;
  left: 455px;
}
.heading-paragraph {
  color: #0d1321;
  font-weight: 400;
  font-size: medium;
}
.para-head {
  text-align: center;
  width: 820px;
  height: 55px;
  position: relative;
  left: 390px;
  margin-top: 10px;
}
.banner-btn {
  height: 40px;
  width: 110px;
  padding: 5px;
  border-radius: 5px;
  background-color: #0d1321;
  color: white;
}
.banner-button {
  position: relative;
  left: 720px;
  top: 45px;
  width: 150px;
}

/* main styles */
/* web development */

.development-container {
  /* border: 1px solid black; */
  height: 1030px;
  width: 1300px;
  margin-left: 100px;
  margin-right: 600px;
  margin-top: 50px;
}
.development-container > h3 {
  text-align: center;
  margin-top: 40px;
  font-weight: bolder;
  font-size: 25px;
}

.dev-para {
  /* border: 1px solid black; */
  height: 50px;
  text-align: center;
  margin-top: 20px;
  font-weight: 150;
  font-size: 15px;
  width: 700px;
  position: relative;
  left: 340px;
  color: rgb(13, 19, 33);
}
.child-container-1 {
  display: flex;
  /* border: 1px solid black; */
  margin-top: 60px;
  gap: 350px;
}
.child-div-1 {
  /* border: 1px solid black; */
  width: 250px;
  text-align: left;
  padding: 10px;
  margin-left: 200px;
}
.child-1-para {
  margin-top: 20px;
  font-weight: 150;
  font-size: 15px;
  color: rgb(13, 19, 33);
}
.btn {
  font-weight: 700;
  color: rgba(13, 19, 33, 1);
  border: 0.5px solid black;
  height: 30px;
  width: 100px;
  background-color: white;
  margin-top: 20px;
}
.child-container-2 {
  display: flex;
  /* border: 1px solid black; */
  margin-top: 20px;
  gap: 0px;
  height: 300px;
}
.child-div-2 {
  /* border: 1px solid black; */
  width: 400px;
  text-align: left;
  padding: 10px;
  margin-left: 200px;
  margin-top: 40px;
  margin-right: 300px;
  position: relative;
  right: 100px;
}
.child-2-para {
  margin-top: 20px;
  font-weight: 150;
  font-size: 15px;
}
.child-container-3 {
  display: flex;
  /* border: 1px solid black; */
  margin-top: 20px;
  gap: 350px;
}
.child-div-3 {
  /* border: 1px solid black; */
  width: 250px;
  text-align: left;
  padding: 10px;
  margin-left: 200px;
}
.child-3-para {
  margin-top: 20px;
  font-weight: 150;
  font-size: 15px;
}

/* inspiration part styles */
.inspiration-container {
  height: 650px;
  width: 850px;
  /* border: 1px solid black; */
  margin-left: 300px;
  margin-top: 100px;
}
.inspiration-container > h3 {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  padding: 10px;
  position: relative;
  left: 20px;
}
.ins-para {
  text-align: center;
  margin-top: 20px;
  font-weight: 150;
  font-size: 15px;
  width: 600px;
  /* border: 1px solid black; */
  position: relative;
  left: 120px;
}
.ins-vdo {
  width: 770px;
  height: 470px;
  margin-top: 40px;
  margin-left: 30px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
.yt-content {
  margin-top: 35px;
  width: 700px;
  height: 400px;
  margin-left: 35px;
  margin-bottom: 35px;
  border-radius: 15px;
}

/* current target styles */
.current-target-content {
  /* border: 1px solid black; */
  width: 800px;
  margin-left: 320px;
  margin-top: 70px;
  height: 330px;
}
.current-target-content > h3 {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  padding: 10px;
}
.current-para {
  /* border: 1px solid black;  */
  width: 500px;
  margin-left: 150px;
  margin-top: 13px;
}
.current-p {
  text-align: center;
  font-weight: 200;
  font-size: 13px;
  color: rgba(13, 19, 33, 1);
}
.current-course-container {
  display: flex;
  gap: 50px;
  margin-top: 45px;
  /* border: 1px solid black; */
}
.current-html {
  /* border: 1px solid black; */
  padding: 15px;
  height: 160px;
  width: 200px;
  background-color: rgba(255, 76, 30, 0.05);
  border-radius: 15px;
}
.current-html > h4 {
  font-weight: bolder;
  font-size: 18px;
  margin-top: 5px;
  color: (13, 19, 33, 1);
}
.html-para {
  /* border: 1px solid black; */
  width: 180px;
  margin-top: 10px;
  height: 80px;
}
.html-para > p {
  font-weight: 200;
  font-size: 12px;
  color: rgba(13, 19, 33, 1);
}
.html-a {
  position: relative;
  /* border: 1px solid black; */
  top: 20px;
  font-weight: bold;
  font-size: 12px;
  color: rgba(13, 19, 33, 1);
}
.current-css {
  /* border: 1px solid black; */
  padding: 15px;
  height: 160px;
  width: 200px;
  background-color: rgba(0, 76, 232, 0.05);
  border-radius: 15px;
}
.current-css > h4 {
  font-weight: bolder;
  font-size: 18px;
  margin-top: 5px;
  color: (13, 19, 33, 1);
}
.css-para {
  /* border: 1px solid black; */
  width: 180px;
  margin-top: 10px;
  height: 80px;
}
.css-para > p {
  font-weight: 200;
  font-size: 12px;
  color: rgba(13, 19, 33, 1);
}
.css-a {
  position: relative;
  /* border: 1px solid black; */
  top: 20px;
  font-weight: bold;
  font-size: 12px;
  color: rgba(13, 19, 33, 1);
}
.current-js {
  /* border: 1px solid black; */
  padding: 15px;
  height: 160px;
  width: 200px;
  background-color: rgba(255, 223, 0, 0.05);
  border-radius: 15px;
}
.current-js > h4 {
  font-weight: bolder;
  font-size: 18px;
  margin-top: 5px;
  color: (13, 19, 33, 1);
}
.js-para {
  /* border: 1px solid black; */
  width: 180px;
  margin-top: 10px;
  height: 80px;
}
.js-para > p {
  font-weight: 200;
  font-size: 12px;
  color: rgba(13, 19, 33, 1);
}
.js-a {
  position: relative;
  /* border: 1px solid black; */
  top: 20px;
  font-weight: bold;
  font-size: 12px;
  color: rgba(13, 19, 33, 1);
}

/* next target styles */
.next-target-container {
  /* border: 1px solid black; */
  width: 800px;
  margin-left: 320px;
  margin-top: 70px;
  height: 900px;
}
.next-target-container > h3 {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}
.next-para{
  /* border: 1px solid black;  */
  width: 500px;
  margin-left: 150px;
  margin-top: 13px;
}
.next-course-content{
  /* border: 1px solid black; */
  height: 545px;
  margin-top: 35px;
}
.react-content{
  border: 1px solid rgba(13, 19, 33, 0.2);
  display: flex;
  padding: 25px;
  height: 100px;
  gap: 15px;
  margin-bottom: 25px;
  border-radius: 15px;
  
}
.react-con{
  height: 100px;
}
.react-con>h4{
  font-weight: bolder;
  font-size: 18px;
  margin-top: 5px;
  color: (13, 19, 33, 1);
  margin-bottom: 15px;
}
.react-para>p{
  font-weight: 250;
  font-size: 12px;
  color: rgba(13, 19, 33, 1);
  margin-bottom: 15px;
}
.react-a{
  /* position: relative;
  /* border: 1px solid black; */
  /* top: 20px;  */
  font-weight: bold;
  font-size: 12px;
  color: rgba(13, 19, 33, 1);
}
.node-content{
  border: 1px solid rgba(13, 19, 33, 0.2);
  display: flex;
  padding: 25px;
  height: 100px;
  gap: 15px;
  margin-bottom: 25px;
  border-radius: 15px;
  
}
.node-con{
  height: 100px;
}
.node-con>h4{
  font-weight: bolder;
  font-size: 18px;
  margin-top: 5px;
  color: (13, 19, 33, 1);
  margin-bottom: 15px;
}
.node-para>p{
  font-weight: 250;
  font-size: 12px;
  color: rgba(13, 19, 33, 1);
  margin-bottom: 15px;
}
.node-a{
  /* position: relative;
  /* border: 1px solid black; */
  /* top: 20px;  */
  font-weight: bold;
  font-size: 12px;
  color: rgba(13, 19, 33, 1);
}
.mongo-content{
  border: 1px solid rgba(13, 19, 33, 0.2);
  display: flex;
  padding: 25px;
  height: 100px;
  gap: 15px;
  border-radius: 15px;
  
}
.mongo-con{
  height: 100px;
}
.mongo-con>h4{
  font-weight: bolder;
  font-size: 18px;
  margin-top: 5px;
  color: (13, 19, 33, 1);
  margin-bottom: 15px;
}
.mongo-para>p{
  font-weight: 250;
  font-size: 12px;
  color: rgba(13, 19, 33, 1);
  margin-bottom: 15px;
}
.mongo-a{
  /* position: relative;
  /* border: 1px solid black; */
  /* top: 20px;  */
  font-weight: bold;
  font-size: 12px;
  color: rgba(13, 19, 33, 1);
}
